.inputComponent {
  :global {
    .ant-card {
      background: hsla(192, 33%, 97%, 1) 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 4px hsla(205, 100%, 65%, 1);
      border: 1px solid hsla(205, 100%, 65%, 1);
      border-radius: 16px;
      .ant-card-body {
        border-radius: 16px;
        padding: 8px 12px;
        background: #fff;
        .input-title {
          margin-bottom: 16px;
          .input-label {
            font-family: 'Inter';
            color: #004c80;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 1.2px;
            &.stake {
              color: #4db4ff;
            }
          }
          .input-balance {
            font-family: 'Inter';
            color: #00377a;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0px;
            .value {
              color: #00377a;
              font-weight: bold;
              margin-left: 8px;
              &.send-max {
                cursor: pointer;
                text-decoration: underline;
                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
        .input-control {
          .token {
            margin-left: 16px;
            > img {
              width: 32px;
              height: 32px;
            }
          }
          > input {
            width: calc(100% - 90px);
            border: 0px !important;
            box-shadow: none;
            text-align: right;
            background: transparent;
            font-family: 'Inter';
            color: #00377a;
            font-size: 28px;
            font-style: normal;
            font-weight: bold;
            line-height: 34px;
            letter-spacing: 0px;
          }
          .input-token {
            font-family: 'Inter';
            color: #00377a;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            color: #00377a;
            margin-top: 8px;
          }
        }
      }
    }
  }
}
