.stakeComponent {
  width: 90%;
  margin: 0 auto;
  max-width: 560px;
  position: relative;
  :global {
    .stake-title {
      font-family: Inter;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 74px;
      letter-spacing: 0.84px;
      color: #ffffff;
    }
    .unstake-warning-text {
      .description {
        background: #ff3e6b 0% 0% no-repeat padding-box;
        border-radius: 5px;
        padding: 8px 24px;
        font-family: 'Inter';
        color: #ffffff;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.7px;
      }
    }
    .stake-form-container {
      background: hsla(212, 95%, 8%, 0.79) 0% 0% no-repeat padding-box;
      border: 2px solid hsla(205, 100%, 65%, 1);
      border-radius: 20px;
      padding: 24px 36px;
      .ant-tabs {
        .ant-tabs-nav-wrap {
          overflow: initial;
        }
        .ant-tabs-ink-bar {
          display: none;
        }
        .ant-tabs-nav {
          margin-bottom: 20px;
          &::before {
            display: none;
          }
          .ant-tabs-tab {
            background: transparent;
            border: 2px solid hsla(0, 0%, 100%, 1);
            border-radius: 20px;
            padding: 0px;
            margin-left: 0px;
            margin-right: 14px;
            &.ant-tabs-tab-active {
              background: hsla(0, 0%, 100%, 1) 0% 0% no-repeat padding-box;
              border: 2px solid hsla(205, 100%, 65%, 1);
              position: relative;
              &::before {
                content: '';
                position: absolute;
                box-shadow: 0px 0px 8px hsla(205, 100%, 65%, 1);
                width: 104%;
                height: 111%;
                border-radius: 20px;
                left: -2%;
                top: -5%;
              }
              .ant-tabs-tab-btn {
                color: hsla(213, 100%, 24%, 1);
                font-weight: bold;
              }
            }
            .ant-tabs-tab-btn {
              font-family: 'Inter';
              color: hsla(0, 0%, 100%, 1);
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 17px;
              letter-spacing: 1.2px;
              width: 100px;
              padding: 8px 0px;
              text-align: center;
            }
          }
        }
        .card-form {
          background: transparent;
          > .ant-card-body {
            padding: 0px;
          }
        }
      }
    }
    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
      .ant-pagination {
        .ant-pagination-prev {
          color: #fff;
        }
        .ant-pagination-item {
          a {
            color: #fff;
          }
          &.ant-pagination-item-active {
            background-color: transparent;
            border-color: hsl(205, 100%, 65%);
            a {
              color: hsl(205, 100%, 65%);
            }
          }
        }
        .ant-pagination-prev,
        .ant-pagination-next {
          button {
            color: #fff;
          }
          &.ant-pagination-disabled {
            button {
              color: hsla(0, 0%, 100%, 0.5);
            }
          }
        }
      }
    }
    .stake-info-container {
      .nepture-title {
        font-family: 'Inter';
        color: hsla(0, 0%, 100%, 1);
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 74px;
        letter-spacing: 1.2px;
        margin-bottom: 12px;
      }
      .card-nepture {
        background: hsla(212, 95%, 8%, 0.79) 0% 0% no-repeat padding-box;
        border-radius: 20px;
        padding: 32px 48px;
        > .ant-card-body {
          padding: 0px;
        }
        @media screen and (max-width: 767px) {
          padding: 16px 24px;
        }
        .nepture-status {
          .label,
          .value {
            font-family: 'Inter';
            color: hsla(0, 0%, 100%, 1);
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 17px;
            letter-spacing: 1.2px;
            margin-bottom: 8px;
            .blue {
              color: hsla(193, 98%, 67%, 1);
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
            }
            .anticon {
              margin-left: 8px;
            }
          }
        }
        .btn-primary-custom {
          border-radius: 14px;
          padding: 16px 24px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Inter';
          font-size: 20px;
          font-style: normal;
          font-weight: bold;
          line-height: 24px;
          letter-spacing: 1.2px;
          color: #00377a;
          &:hover {
            background: transparent linear-gradient(137deg, #a8f1ff 0%, #89b7ff 100%) 0% 0%
              no-repeat padding-box;
            opacity: 0.8;
          }
          &.btn-defi {
            font-size: 16px;
            line-height: 19px;
          }
        }
      }
    }
  }
}
