.stakeFormComponent {
  :global {
    .stake-form-content {
    }
    .is-bridge-container {
      .label {
        font-family: 'Inter';
        color: #ffffff;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 1.2px;
      }
      .ant-switch {
        background: #4c6779 0% 0% no-repeat padding-box;
        box-shadow: inset 0px 3px 3px #00000064;
        &:hover {
          background: #4c6779 0% 0% no-repeat padding-box;
          opacity: 0.8;
        }
        &.ant-switch-checked {
          background: #58dafd 0% 0% no-repeat padding-box;
          box-shadow: inset 0px 3px 3px #ffffff64, 0px 0px 6px #4db4ff;
          &:hover {
            background: #58dafd 0% 0% no-repeat padding-box;
            opacity: 0.8;
          }
        }
      }
    }
    .btn-group-actions {
      .btn-primary-custom {
        border-radius: 14px;
        padding: 16px 24px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Inter';
        font-size: 20px;
        font-style: normal;
        font-weight: bold;
        line-height: 24px;
        letter-spacing: 1.2px;
        color: #00377a;
        &:hover {
          background: transparent linear-gradient(137deg, #a8f1ff 0%, #89b7ff 100%) 0% 0% no-repeat
            padding-box;
          opacity: 0.8;
        }
        &.btn-defi {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
    .exchange-rate-container {
      .label,
      .ml-auto {
        font-family: 'Inter';
        color: #ffffff;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 1.2px;
      }
    }
    .is-bridge-warning {
      background: #ff3e6b 0% 0% no-repeat padding-box;
      border-radius: 5px;
      padding: 6px 12px;
      .label {
        font-family: 'Inter';
        color: #ffffff;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.7px;
      }
    }
  }
}
