.supplyPage {
  padding: 128px 156px;
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    min-height: 100vh;
    padding: 128px 16px;
  }

  :global {
    .overview {
      font-family: Inter;
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: 40px;

      &__body {
        display: flex;
        padding: 16px 32px;
        align-items: center;
        border-radius: 2px;
        background: var(--Conditional-pop-over, #1f1f1f);
        margin-top: 20px;
        gap: 60px;

        &__wrapper {
          display: flex;
          align-items: center;
          gap: 32px;

          &__item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2px;

            &__label {
              color: var(--Neutral-9, #f0f0f0);
              /* Body/regular */
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              /* 157.143% */
            }

            &__value {
              color: var(--Neutral-4, #f0f0f0);
              /* H5/regular */
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              display: flex;
              align-items: center;
              gap: 4px;
              align-self: stretch;
              /* 150% */
            }
          }
        }
      }
    }

    .content {
      padding-bottom: 16px;
      margin-top: 16px;

      .table-wrapper {
        border-radius: 2px;
        border: 1px solid var(--Conditional-divider, #303030);
        background: var(--Conditional-pop-over, #1F1F1F);

        &__asset {
          color: var(--Neutral-13, #fff);

          /* Body/medium */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px;
          /* 157.143% */
        }

        &__supply-balance {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          color: var(--Neutral-13, #fff);

          /* Body/medium */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px;

          /* 157.143% */
          &__price {
            color: var(--Neutral-7, #8c8c8c);

            /* Footnote/description */
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            /* 166.667% */
          }
        }

        &__earned-reward {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          color: var(--Polar-Green-6, #52c41a);

          /* Body/medium */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px;

          &__price {
            color: var(--Neutral-7, #8c8c8c);

            /* Footnote/description */
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            /* 166.667% */
          }
        }

        &__apy {
          color: var(--Neutral-13, #fff);
          text-align: right;

          /* Body/bold */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          /* 157.143% */
        }

        &__action {
          display: flex;
          justify-content: flex-end;
          padding-top: 12px;
          align-self: stretch;
          border-top: 1px solid var(--Neutral-4, #262626);
        }
      }
    }

    .select-wrapper {
      .ant-select .ant-select-selector {
        border-radius: 2px;
        border: 1px solid var(--Neutral-1, #fff);

        /* drop-shadow/button-secondary */
        box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
        display: flex;
        padding: 4px 12px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        background-color: #000000;

        color: var(--Neutral-3, #f5f5f5);

        /* H5/regular */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
      }

      .ant-select-single .ant-select-selector {
        border-color: #fff !important;
      }

      .ant-select-single.ant-select-open .ant-select-selection-item {
        color: white;
      }

      .anticon-caret-down {
        svg {
          width: 16px;
          height: 16px;
          color: #f5f5f5;
        }
      }
    }

    .ant-table {
      background: var(--Conditional-pop-over, #1f1f1f);
      color: var(--Neutral-7, #8c8c8c);

      /* Body/regular */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;

      .ant-table-title {
        color: #FFF;

        /* H5/bold */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        display: flex;
        padding: 12px 16px;
        align-items: center;
        gap: 8px;
        /* 150% */
      }

      /* 157.143% */
      .ant-table-thead {
        .ant-table-cell {
          padding: 8px 16px;
          background-color: transparent;
          color: var(--Neutral-7, #8c8c8c);

          /* Body/regular */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          border-bottom: none;

          &::before {
            background-color: transparent;
            display: none;
          }

          /* 157.143% */
        }
      }

      .ant-table-tbody {

        .ant-table-row,
        .ant-table-expanded-row {
          .ant-table-cell {
            border-bottom: none;
          }
        }

        .ant-table-row {
          .ant-table-cell {
            border-top: 1px solid var(--Neutral-4, #262626);
          }
        }
      }
    }



    .app-modal-content {
      background: red;
      display: flex !important;
      width: 456px !important;
      padding-bottom: 16px !important;
      flex-direction: column !important;
      align-items: flex-start !important;
      border-radius: 2px !important;
      border: 1px solid var(--Conditional-divider, #303030) !important;
      background: var(--Conditional-pop-over, #1F1F1F) !important;

      &__container {
        background: blue;

        &__input {
          display: flex;
          padding: 16px 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          align-self: stretch;

          &__title {
            color: var(--character-title-85, rgba(255, 255, 255, 0.85));

            /* H5/bold */
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            /* 150% */
          }
        }
      }
    }
  }
}

.supply-modal-body {}

.supply-modal-mask {
  width: 1440px;
  height: 1000px !important;
  flex-shrink: 0;
  background: rgba(39, 39, 42, 0.90);
}

.supply-modal-header {
  display: flex !important;
  padding: 16px !important;
  justify-content: space-between !important;
  align-items: center !important;
  align-self: stretch !important;
  border: none !important;
  background: var(--Conditional-pop-over, #1F1F1F) !important;


  :global {
    .ant-modal-title {
      color: #FFF !important;
      /* H5/bold */
      font-family: Inter !important;
      font-size: 16px !important;
      font-style: normal !important;
      font-weight: 700 !important;
      line-height: 24px !important;
      /* 150% */
    }
  }
}

.supply-modal-footer {}



.supply-modal-wrapper {
  :global {
    .ant-modal-content {
      display: flex;
      width: 456px;
      padding-bottom: 16px;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 2px;
      border: 1px solid var(--Conditional-divider, #303030);
      background: var(--Conditional-pop-over, #1F1F1F);

      .ant-modal-header {
        display: flex;
        padding: 16px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border: none;
        background: var(--Conditional-pop-over, #1F1F1F);


        .ant-modal-title {
          color: #FFF;
          /* H5/bold */
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          /* 150% */
        }
      }
    }

    .ant-modal-body {
      padding: 0px !important;
      width: 100%;

      .supply-modal-container {
        &__input {
          display: flex;
          padding: 16px 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          align-self: stretch;

          &__title {
            color: var(--character-title-85, rgba(255, 255, 255, 0.85));

            /* H5/bold */
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            /* 150% */
          }

          &__control {
            display: flex;
            padding: 16px;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            align-self: stretch;
            border-radius: 8px;
            border: 1px solid var(--Conditional-divider, #303030);
            background: var(--Conditional-page-background, #000);

            .ant-input-number-group-wrapper {
              display: flex;
            }

            &__amount {
              width: 100%;

              .ant-input-number-wrapper {
                display: flex;

                .ant-input-number {
                  background: transparent;
                  border: none;
                  width: auto;

                  .ant-input-number-input {
                    color: var(--character-primary-inverse, #FFF);

                    /* H3/medium */
                    font-family: Inter;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 32px;
                    padding-left: 0px;
                  }

                  /* 133.333% */
                }

                .ant-input-number-group-addon {
                  border: none;
                  display: flex;
                  width: 72px;
                  align-items: center;
                  border-radius: 100000px;

                  /* 150% */
                  .supply-modal-container__input__control__amount__token {
                    display: flex;
                    gap: 8px;
                    color: var(--character-primary-inverse, #FFF);

                    /* SubTitle/H2_16px_Medium */
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                  }
                }
              }
            }

            &__price {
              color: var(--character-primary-85, rgba(255, 255, 255, 0.65));

              /* Body/regular */
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              /* 157.143% */
              display: flex;
              gap: 12px;
              justify-content: space-between;
              width: 100%;
              align-items: center;

              &__max {
                color: var(--Primary-6, #1890FF);

                /* Body/bold */
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 22px;
                padding: 0px;
                /* 157.143% */
              }
            }
          }

          &__balance {
            color: var(--Text-sub_text, #808089);

            /* Body/B3_14px_Regular */
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            /* 142.857% */
          }
        }

        &__overview {
          border-top: 1px solid var(--Conditional-divider, #303030);
          display: flex;
          padding: 16px 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          align-self: stretch;

          &__title {
            color: var(--character-primary-85, rgba(255, 255, 255, 0.65));

            /* Body/regular */
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            /* 157.143% */
          }

          &__apy {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            align-self: stretch;

            &__title {
              display: flex;
              align-items: flex-start;
              gap: 4px;
              color: var(--Neutral-7, #8C8C8C);

              /* Footnote/description */
              font-family: Inter;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px;
              /* 166.667% */
            }

            &__value {
              display: flex;
              align-items: center;
              gap: 4px;

              color: var(--Neutral-7, #8C8C8C);

              /* H5/regular */
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              /* 150% */
            }
          }
        }

        &__action {
          border-top: 1px solid var(--Conditional-divider, #303030);
          display: flex;
          padding: 16px 24px 32px;
          flex-direction: column;
          gap: 16px;
          align-self: stretch;

          &__approve {
            &__helper {
              display: flex;
              padding: 0px 7px;
              justify-content: center;
              align-items: center;
              gap: 10px;

              &__link {
                color: var(--Primary-6, #1890FF);
                text-align: center;

                /* Body/regular */
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                /* 157.143% */
              }
            }
          }
        }
      }
    }
  }
}

.supply-modal-tx-success-tx-success-wrapper {
  :global {
    .ant-modal-content {
      display: flex;
      width: 456px;
      padding-bottom: 16px;
      flex-direction: column;
      align-items: center;

      border-radius: 2px;
      border: 1px solid var(--Conditional-divider, #303030);
      background: var(--Conditional-pop-over, #1F1F1F);

      .ant-modal-header {
        display: flex;
        padding: 16px;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border: none;
        background: var(--Conditional-pop-over, #1F1F1F);


        .ant-modal-title {
          color: #FFF;
          /* H5/bold */
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          text-align: center;
          font-weight: 700;
          line-height: 24px;
          /* 150% */
        }
      }

      .ant-modal-body {
        padding: 0px !important;

        .supply-modal-tx-success-container {
          &__status {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 8px;
            align-self: stretch;
            color: var(--character-primary-85, rgba(255, 255, 255, 0.65));
            text-align: center;

            /* Body/regular */
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            /* 157.143% */

            &__msg {
              display: flex;
              padding: 16px;
              justify-content: center;
              align-items: center;
              gap: 8px;
              align-self: stretch;
            }
          }

          &__action {
            border-top: 1px solid var(--Conditional-divider, #303030);
            display: flex;
            padding: 16px 24px 32px;
            flex-direction: column;
            gap: 16px;
            align-self: stretch;

            &__helper {
              display: flex;
              padding: 0px 7px;
              justify-content: center;
              align-items: center;
              gap: 10px;

              &__link {
                color: var(--Primary-6, #1890FF);
                text-align: center;

                /* Body/regular */
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                /* 157.143% */
              }
            }

            .btn-default-custom {
              &:hover {
                background: #FFF;
                opacity: 0.8;
              }
            }
          }
        }
      }

    }
  }
}