.landingPage {
  padding-top: $main-header-height;
  height: 100%;
  background-image: url('/images/landing/landing-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -400px;

  :global {
    .landing-container {
    }
  }
}
