.loansComponent {
  :global {
    .loans-container {
      border-radius: 2px;
      border: 1px solid var(--Conditional-divider, #303030);
      background: var(--Conditional-pop-over, #1f1f1f);
      h3 {
        color: #fff;

        /* H5/bold */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */
        padding: 12px 16px;
      }
      h4 {
        color: var(--Neutral-7, #8c8c8c);

        /* Body/regular */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        display: flex;

        svg {
          color: #1890ff;
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}
