.loansComponent {
  :global {
    .loans-container {
      border-radius: 2px;
      border: 1px solid $black-common-color;
      background: $black-light-color;
      h3 {
        color: $white-color;

        /* H5/bold */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */
        padding: 12px 16px;
      }
      h4 {
        color: $sub-title-color;

        /* Body/regular */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        display: flex;

        svg {
          color: $primary-color;
          width: 12px;
          height: 12px;
          cursor: pointer;
        }
      }
      .loans-size {
        color: $white-color;

        /* Body/medium */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 157.143% */
        .usd {
          color: $sub-title-color;

          /* Footnote/description */
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 166.667% */
        }
      }
      .loans-apr {
        color: $white-color;
        text-align: right;

        /* Body/medium */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 157.143% */
      }
      .loans-health {
        color: var(--Primary-6, #177ddc);
        text-align: right;

        /* Body/medium */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 157.143% */
      }
      .loans-status {
        color: $sub-title-color;

        /* Body/regular */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        span {
          color: var(--Polar-Green-6, #52c41a);

          /* Body/medium */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px; /* 157.143% */
        }
        .highlight {
          color: var(--Dust-Red-6, #f5222d);

          /* Body/medium */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px; /* 157.143% */
        }
        .liquidated {
          color: var(--Calendula-Gold-6, #faad14);
        }
        .warning {
          color: var(--Dust-Red-6, #f5222d);
        }
        .repaid {
          color: $white-color;
        }
      }
      .loans-inner {
        img {
          @media screen and (max-width: 767px) {
            height: 30px;
            width: 30px;
            margin-right: 4px !important;
          }
        }
        & > div {
          padding-top: 12px;
          padding-bottom: 12px;
          border-top: 1px solid var(--Neutral-4, #262626);
          &:first-child {
            border-top: 0;
          }
        }
      }
      .loans-header {
        border-bottom: 1px solid var(--Neutral-4, #262626);
        @media screen and (max-width: 767px) {
          div {
            align-items: start;
          }
        }
      }
      .loans-remain {
        max-width: 60%;
      }
      .loans-collateral {
        color: $white-color;

        /* Body/medium */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 157.143% */
        span {
          color: $sub-title-color;

          /* Body/regular */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px; /* 157.143% */
        }
        .ant-btn-default {
          border-radius: 2px;
          border: 1px solid $white-color;
          height: 22px;
          padding: 0 7px;
          background: transparent;
          display: flex;
          align-items: center;

          &:active,
          &:hover {
            border-color: 1px solid $white-color;
            color: $white-color;
          }
          span {
            color: $white-color;

            /* Body/regular */
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 157.143% */
          }
          &:disabled {
            background: transparent !important;
            span {
              color: var(--character-disabled-amp-placeholder-25, rgba(255, 255, 255, 0.3));
            }
          }
        }
      }
      .loans-yield {
        color: $white-color;

        /* Body/regular */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        svg {
          color: #52c41a;
        }
        span {
          color: var(--Polar-Green-6, #52c41a);
          text-align: right;

          /* Body/regular */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px; /* 157.143% */
        }
      }
      .loans-button {
        @media screen and (max-width: 767px) {
          gap: 8px;
          display: flex;
          flex-wrap: wrap;
        }
        button {
          padding: 4px 15px;
          border-radius: 2px;

          /* drop-shadow/button-primary */
          box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
          color: var(--character-title-85, rgba(0, 0, 0, 0.85));
          text-align: center;

          /* Body/regular */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px; /* 157.143% */
          height: 32px;

          @media screen and (max-width: 767px) {
            font-size: 12px;
            padding: 2px 8px;
            margin-right: 0 !important;
          }
          &.ant-btn-primary {
            background: $primary-color;
            color: $white-color;
            &:hover,
            &:active {
              background: $primary-color;
              color: $white-color;
            }
          }
          &.ant-btn-default {
            background: $white-color;

            &:hover,
            &:active {
              border-color: white;
              color: var(--character-title-85, rgba(0, 0, 0, 0.85));
            }
            &:disabled {
              background: transparent !important;
              border: 1px solid var(--Neutral-5, #434343) !important;
              color: var(
                --character-disabled-amp-placeholder-25,
                rgba(255, 255, 255, 0.3)
              ) !important;
            }
          }
        }
      }
      .loans-empty {
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        color: $sub-title-color;

        /* Body/regular */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */

        border-top: 1px solid $black-common-color;
        border-bottom: 1px solid $black-common-color;
      }
      .loans-token {
        @media screen and (max-width: 767px) {
          color: $white-color;

          /* Body/medium */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px; /* 157.143% */
        }
      }
    }
  }
}
