.borrowPage {
  padding: 128px 156px;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    min-height: 100vh;
    padding: 128px 16px;
  }

  :global {
    .borrow-header {
      margin-bottom: 16px;
    }
    .borrow-inner {
      flex-direction: row;

      @media screen and (max-width: 1200px) {
        flex-direction: column;
      }
    }
  }
}
